.docs-content {
    margin-left: 30rem;
    padding: 9rem;
    transition: all 300ms;

    @include lg {
        margin-left: 0;
    }

    * {
        opacity: 0;
        animation: fadeIn 500ms ease-in forwards;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
