@mixin xxl {
    @media (max-width: 1400px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

@mixin scrollbar() {
    ::-webkit-scrollbar {
        width: var(--scroll-width);
        height: var(--scroll-width);
    }

    ::-webkit-scrollbar-track {
        background: var(--scroll-track);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb);
        border-radius: var(--scroll-radius);
    }
}
