//SEARCH MODAL
.modal-open {
    overflow: hidden;
    padding-right: var(--scroll-width);
}

.search-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .search-modal-content {
        position: relative;
        width: 100%;
        max-width: 70rem;
        min-height: 70rem;
        margin: 0 auto;
        //margin-top: 10rem;
        border-radius: 1rem;
        background-color: #f6f9fb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 300ms;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @include md {
            border-radius: 0;
            box-shadow: none;
            min-height: 100%;
            max-width: 100%;
        }

        .search-modal-body {
            padding: 2.7rem;
            min-height: inherit;

            @include md {
                padding: 1.5rem;
            }

            .search-control {
                display: flex;
                align-items: center;
                position: relative;

                .twitter-typeahead {
                    width: 100%;

                    .tt-menu {
                        width: 100%;
                        background-color: #f7fafc;
                        border-radius: 0.6rem;
                        box-shadow: 0 0 3rem 0 rgba(32, 60, 114, 0.14);
                        margin-top: 0.4rem;

                        .tt-dataset {
                            .tt-suggestion {
                                padding: 1rem 2rem;
                                font-size: 1.4rem;
                                color: #132644;
                                cursor: pointer;

                                &:first-child {
                                    margin-top: 1rem;
                                }

                                &:last-child {
                                    margin-bottom: 1rem;
                                }

                                &:hover,
                                &:focus {
                                    background-color: #edf2f5;
                                }
                            }

                            .tt-highlight {
                                color: #1572e8;
                                font-weight: inherit;
                            }
                        }
                    }
                }

                .typeahead {
                    border: 0;
                    outline: 0;
                    color: #132644;
                    font-size: 1.5rem;
                    padding: 0.6rem 2rem;
                    padding-right: 6rem;
                    width: 100%;
                    border-radius: 0.6rem;
                    border: 1px solid #cfd6e3;
                    background: #fff;
                    min-height: 5rem;
                    transition: all 300ms;

                    &:focus {
                        outline: 0;
                        border-color: #1572e8;
                        box-shadow: 0 0 0 3px rgba(21, 114, 232, 0.2);
                    }
                }

                .clear {
                    font-size: 1.4rem;
                    color: #132644;
                    cursor: pointer;
                    position: absolute;
                    right: 1.5rem;
                }
            }

            .search-result {
                .result-head {
                    padding-top: 2rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    color: rgba(19, 38, 68, 0.5);

                    @include md {
                        padding-top: 1.5rem;
                    }
                }

                .result-body {
                    background-color: #f7fafc;
                    border-radius: 0.6rem;
                    padding: 1rem 0;
                    box-shadow: 0 0 3rem 0 rgba(32, 60, 114, 0.14);
                    overflow-y: auto;
                    height: 13.5rem;

                    .mCSB_inside > .mCSB_container {
                        margin-right: 0;
                    }

                    .result-list {
                        padding: 0;
                        margin: 0;

                        .result-item {
                            list-style: none;
                            padding: 1rem 2rem;
                            transition: all 300ms;

                            &:hover,
                            &:focus {
                                background: #edf2f5;
                            }

                            &.active {
                                background: #edf2f5;
                                .result-link {
                                    .result-title {
                                        color: #1572e8;
                                    }
                                    .result-breadcrumb {
                                        color: #1572e8;
                                        opacity: 0.7;
                                    }
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .result-link {
                                text-decoration: none;
                                .result-title {
                                    color: #132644;
                                    margin-bottom: 0.6rem;
                                    font-weight: 500;
                                    font-size: 1.4rem;
                                }
                                .result-breadcrumb {
                                    color: #132644;
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }

            .popular-search {
                .popular-title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    color: rgba(19, 38, 68, 0.5);
                    padding-top: 2rem;
                    @include md {
                        padding-top: 1.5rem;
                    }
                }
                .popular-list {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem 1rem;

                    .popular-item {
                        list-style: none;
                        padding: 0.4rem 0.8rem;
                        background: #eaeeee;
                        color: rgba(58, 76, 105, 0.7);
                        display: inline-flex;
                        font-size: 1.3rem;
                        border-radius: 0.2rem;
                        cursor: pointer;

                        &:hover {
                            color: #132644;
                        }
                    }
                }
            }
        }

        .close-action {
            display: none;

            @include md {
                display: flex;
            }

            .close-search-modal {
                margin-left: auto;
                margin-top: 2rem;
                margin-right: 1.5rem;
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                padding: 0.6rem;
                background: #eaeeee;
                color: rgba(58, 76, 105, 0.7);
                border-radius: 0.4rem;

                &:hover,
                &:focus {
                    color: #132644;
                }
            }
        }
    }
}
