.sidebar {
    --height: 100%;
    position: absolute;
    top: 26rem;
    border-right: 1px solid rgb(193, 193, 193, 0.15);
    min-height: calc(var(--height) - 26rem);
    left: 0rem;
    display: block;
    width: 30rem;
    background: #fafaff;
    overflow-y: scroll;
    z-index: 1;
    padding: 0 2rem;
    transition: left 300ms;

    @include lg {
        top: 0;
        position: fixed;
        height: 100vh;
        left: -30rem;
        z-index: 3;

        &.active {
            left: 0;
            box-shadow: -4px 0 20px 2px rgba(0, 0, 0, 0.75);
        }
    }

    .close-sidebar {
        display: none;

        @include lg {
            display: flex;
        }

        .close-sidebar {
            margin-left: auto;
            margin-top: 2rem;
            margin-right: 0;
            margin-bottom: 0.5rem;
            font-size: 1.8rem;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 3rem;
            padding: 0.6rem;
            background: #eaeeee;
            color: rgba(58, 76, 105, 0.7);
            border-radius: 0.4rem;

            &:hover,
            &:focus {
                color: #132644;
            }
        }
    }

    .parent,
    .child,
    .subchild,
    .subsubchild {
        padding: 0;
        margin: 0;
    }

    .parent {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        > li {
            list-style: none;
            border-top: 1px solid #e2e2e2;

            &:first-child {
                border-top: 0;
            }

            > a {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--text);
                padding: 2rem 0;

                > i {
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: var(--text);
                    margin-left: auto;
                }
            }

            &.open {
                > a {
                    font-weight: 600;
                }
            }

            &.active {
                > a {
                    font-weight: 600;
                    color: #1572e8;
                }
            }
        }
    }

    .child {
        margin-bottom: 2rem;
        padding-left: 1.5rem;
        margin-top: -0.5rem;

        > li {
            list-style: none;

            > a {
                display: block;
                font-size: 1.4rem;
                text-decoration: none;
                color: var(--text);
                padding: 0.5rem 0;
                transition: all 300ms;
                position: relative;

                > i {
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: var(--text);
                    position: absolute;
                    top: 0.9rem;
                    left: -1.8rem;
                    transition: all 300ms;
                }
            }

            &.open {
                > a {
                    font-weight: 600;

                    > i {
                        transform: rotate(90deg);
                    }
                }
            }

            &.active {
                > a {
                    font-weight: 600;
                    color: #1572e8;
                }
            }
        }
    }

    .subchild {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;
        display: none;
        position: relative;
        > li {
            list-style: none;
            position: relative;

            &::after {
                content: "";
                width: 4px;
                height: 4px;
                background: var(--text);
                border-radius: 50%;
                position: absolute;
                top: 1.4rem;
                left: -1.5rem;
                right: auto;
                bottom: auto;
                margin: auto;
            }

            > a {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                text-decoration: none;
                color: var(--text);
                padding: 0.5rem 0;
                transition: all 300ms;
                position: relative;

                > i {
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: var(--text);
                    margin-left: auto;
                    transition: all 300ms;
                }
            }

            &.open {
                > a {
                    font-weight: 600;

                    > i {
                        transform: rotate(90deg);
                    }
                }
            }

            &.active {
                &::after {
                    background: #1572e8;
                }

                > a {
                    font-weight: 600;
                    color: #1572e8;
                }
            }
        }

        &::before {
            content: "";
            width: 1px;
            height: 100%;
            background: #e2e2e2;
            position: absolute;
            top: 0;
            left: -1.5rem;
        }
    }

    .innerchild {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;
        display: none;
        position: relative;
        > li {
            list-style: none;
            position: relative;

            &::after {
                content: "";
                width: 4px;
                height: 4px;
                background: var(--text);
                border-radius: 50%;
                position: absolute;
                top: 1.4rem;
                left: -1.5rem;
                right: auto;
                bottom: auto;
                margin: auto;
            }

            > a {
                display: inline-block;
                font-size: 1.4rem;
                text-decoration: none;
                color: var(--text);
                padding: 0.5rem 0;
            }

            &.open {
                > a {
                    font-weight: 600;
                }
            }

            &.active {
                &::after {
                    background: #1572e8;
                }

                > a {
                    font-weight: 600;
                    color: #1572e8;
                }
            }
        }

        &::before {
            content: "";
            width: 1px;
            height: 100%;
            background: #e2e2e2;
            position: absolute;
            top: 0;
            left: -1.5rem;
        }
    }
}

.overlay-sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);

    @include lg {
        &.active {
            display: block;
        }
    }
}
