.sidebar {
    position: fixed;
    top: 33rem;
    border-right: 1px solid rgb(193, 193, 193, 0.15);
    height: calc(100vh - 33rem);
    left: 0;
    display: block;
    width: 30rem;
    background: #fafaff;
    overflow-y: scroll;
    padding: 2rem;
    z-index: 1;
}

.parent,
.child,
.subchild,
.subsubchild {
    padding: 0;
    margin: 0;
}

.parent {
    > li {
        list-style: none;
        > a {
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}

.child {
    padding-left: 2rem;
    > li {
        list-style: none;
        > a {
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}

.subchild {
    padding-left: 2rem;
    display: none;
    > li {
        list-style: none;
        > a {
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}

.subsubchild {
    padding-left: 2rem;
    display: none;
    > li {
        list-style: none;
        > a {
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}
