.sidebar {
    position: fixed;
    top: 33rem;
    border-right: 1px solid rgb(193, 193, 193, 0.15);
    height: calc(100vh - 33rem);
    left: 0;
    display: block;
    width: 30rem;
    background: #fafaff;
    overflow-y: scroll;
    padding: 0 2rem;
    z-index: 1;
}

.parent,
.child,
.subchild,
.subsubchild {
    padding: 0;
    margin: 0;
}

.parent {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > li {
        list-style: none;
        border-bottom: 1px solid #e2e2e2;

        &:last-child {
            border-bottom: 0;
        }

        > a {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--text);
            padding: 2rem 0;

            > i {
                font-weight: 400;
                font-size: 1.4rem;
                color: var(--text);
                margin-left: auto;
            }
        }
    }
}

.child {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    margin-top: -0.5rem;

    > li {
        list-style: none;

        > a {
            display: block;
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--text);
            padding: 0.5rem 0;
            transition: all 300ms;
            position: relative;

            > i {
                font-weight: 400;
                font-size: 1.4rem;
                color: var(--text);
                position: absolute;
                top: 0.6rem;
                left: -1.8rem;
            }
        }

        &.open {
            > a {
                font-weight: 600;
            }
        }

        &.active {
            > a {
                font-weight: 600;
                color: #1572e8;
            }
        }
    }
}

.subchild {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    display: none;
    position: relative;
    > li {
        list-style: none;
        position: relative;

        &::after {
            content: "";
            width: 4px;
            height: 4px;
            background: var(--text);
            border-radius: 50%;
            position: absolute;
            top: 1.2rem;
            left: -1.5rem;
            right: auto;
            bottom: auto;
            margin: auto;
        }

        > a {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--text);
            padding: 0.5rem 0;
            transition: all 300ms;
            position: relative;

            > i {
                font-weight: 400;
                font-size: 1.4rem;
                color: var(--text);
                margin-left: auto;
            }
        }

        &.open {
            > a {
                font-weight: 600;
            }
        }

        &.active {
            > a {
                font-weight: 600;
                color: #1572e8;
            }
        }
    }

    &::before {
        content: "";
        width: 1px;
        height: 100%;
        background: #e2e2e2;
        position: absolute;
        top: 0;
        left: -1.5rem;
    }
}

.subsubchild {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    display: none;
    position: relative;
    > li {
        list-style: none;
        position: relative;

        &::after {
            content: "";
            width: 4px;
            height: 4px;
            background: var(--text);
            border-radius: 50%;
            position: absolute;
            top: 1.2rem;
            left: -1.5rem;
            right: auto;
            bottom: auto;
            margin: auto;
        }

        > a {
            display: inline-block;
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--text);
            padding: 0.5rem 0;
        }

        &.active {
            > a {
                font-weight: 600;
                color: #1572e8;
            }
        }
    }

    &::before {
        content: "";
        width: 1px;
        height: 100%;
        background: #e2e2e2;
        position: absolute;
        top: 0;
        left: -1.5rem;
    }
}
