@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
@import '../plugins/fontawesome/css/all.css';
@import '_normalize.scss';
@import '_mixins.scss';
@import '_grid.scss';
@import '_utilities.scss';

html {
    font-size: 10px;
    --scroll-width: 0.6rem;
    --scroll-radius: 0.6rem;
    --scroll-track: #f7fafc;
    --scroll-thumb: #b2bac4;
    @include scrollbar();
}

:root {
    --primary: #000;
    --text: #000;
    --text-light: #000;
    --link: #000;
    --link-hover: #000;
    --border: #000;
    --background-one: #000;
    --background-two: #000;
    --background-three: #000;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button {
    border: none;
    position: relative;
    padding: 0.6rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 0.4rem;
    column-gap: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.button-primary {
        border: 1px solid #1572e8;
        background-color: #1572e8;
        color: #ffffff;
    }

    &.button-secondary {
        border: 1px solid #132644;
        background-color: #ffffff;
        color: #132644;
    }

    .arrow {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        i {
            transition: all 300ms;
            position: absolute;
            right: 0;

            &:first-child {
                right: 0.4rem;
            }

            &:last-child {
                opacity: 0;
                right: 2px;
            }
        }
    }

    &:hover {
        .arrow {
            i {
                &:first-child {
                    right: -1px;
                }

                &:last-child {
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }
}

.link {
    color: #132644;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        color: #132644;
    }
}

.header {
    padding: 0 4rem;
    min-height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .action {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .btn-api {
            margin-right: 1.6rem;
        }
    }
}

.wrapper {
    position: relative;
}

.intro {
    padding: 0 4rem;
    min-height: 26rem;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(3, 32, 90) 0%, rgb(9, 71, 196) 50%, rgb(0, 52, 157) 100%);

    .head {
        margin-top: 0;
        margin-bottom: 2rem;
        color: #ffffff;
        font-size: 3.8rem;
    }

    .search {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        border-radius: 1rem;
        color: #434343;
        background-color: #fff;
        width: 100%;
        max-width: 60rem;
        padding: 0.6rem 1.5rem;
        min-height: 5rem;
        column-gap: 1rem;
        cursor: pointer;

        i {
            font-size: 1.7rem;
        }
    }

    .desc {
        color: #ffffff;
        font-size: 2.2rem;
    }
}

.statred {
    background: #f7fafc;
    padding: 5rem 4rem;

    .data {
        display: flex;
        gap: 0 5rem;
    }

    .content {
        flex: 0 0 auto;
        max-width: 60%;

        .desc {
            margin-bottom: 2rem;
            p {
                margin-bottom: 2rem;
                line-height: 2.5rem;
                color: #132644;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .points {
            display: flex;
            column-gap: 5rem;
            .list {
                margin: 0;
                padding: 0;

                .list-item {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                    padding: 0.8rem 0;

                    i {
                        font-size: 0.8rem;
                        color: #132644;
                    }
                }

                .list-link {
                    text-decoration: none;
                    color: #1572e8;
                    font-weight: 500;
                }
            }
        }

        .btn-started {
            border-radius: 0.4rem;
            min-height: 4.5rem;
            min-width: 16rem;
            margin-top: 3rem;
        }
    }

    .artwork {
        margin-left: auto;
        flex: 0 0 38.4rem;
        max-width: 38.4rem;
        min-height: 44.8rem;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 0 3rem 0 rgba(32, 60, 114, 0.14);
    }
}

.modules {
    background: #ffffff;
    padding: 5rem 4rem;

    .module {
        margin-bottom: 5rem;
        .title {
            color: #132644;
            font-size: 2rem;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }

        .list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.7rem;

            .list-item {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                border: 0.2rem solid transparent;
                border-radius: 0.6rem;
                background-origin: border-box;
                background-clip: content-box, border-box;
                background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to right, #f1f1f1, #f1f1f1);
                transition: all 300ms;

                .arrow {
                    margin-left: auto;
                    margin-right: 0;
                    position: relative;
                    height: 1.5rem;
                    font-size: 1.5rem;
                    i {
                        color: #1c80ec;
                        transition: all 300ms;
                        position: absolute;
                        right: 0;

                        &:first-child {
                            right: 0.4rem;
                        }

                        &:last-child {
                            opacity: 0;
                            right: 2px;
                        }
                    }
                }

                &:hover {
                    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(45deg, #00c0fa, #015eea);
                    transition: all 300ms;

                    .arrow {
                        i {
                            color: #1c80ec;

                            &:first-child {
                                right: -1px;
                            }

                            &:last-child {
                                opacity: 1;
                                right: 0;
                            }
                        }
                    }
                }
            }

            .list-link {
                display: flex;
                align-items: center;
                width: 100%;
                text-decoration: none;
                padding: 1.5rem;
                column-gap: 2rem;
                .ico {
                    img {
                        display: block;
                    }
                }
                .data {
                    flex-grow: 1;

                    .name {
                        color: #132644;
                        font-weight: 600;
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                    }

                    .desc {
                        margin-top: 0.7rem;
                        font-size: 1.3rem;
                        color: #3a4c69;
                    }
                }
            }
        }
    }
}

.footer {
    padding: 0 4rem;
    background: #fff;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .data {
        text-align: center;
        color: #132644;

        i {
            font-size: 1.2rem;
        }

        .link {
            text-decoration: underline;
            color: #132644;
            display: inline-flex;
            gap: 0.5rem;
        }
    }
}

.highlight {
    min-height: 10rem;
    background: #1572e8;
    position: relative;

    .left {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        overflow: hidden;

        &::before {
            content: '';
            width: 300px;
            height: 150px;
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            left: -90px;
            top: 0;
            border-radius: 6px;
            transform: skew(25deg, -12deg);
            transform-origin: top left;
        }

        &::after {
            content: '';
            width: 150px;
            height: 600px;
            background: rgba(255, 255, 255, 0.15);
            position: absolute;
            left: 0px;
            top: 30px;
            border-radius: 4px;
            transform: skew(-25deg, 10deg);
            transform-origin: top left;
        }
    }

    .right {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        overflow: hidden;

        &::before {
            content: '';
            width: 300px;
            height: 150px;
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            right: -60px;
            top: 0;
            border-radius: 4px;
            transform: skew(25deg, -10deg);
            transform-origin: top left;
        }

        &::after {
            content: '';
            width: 150px;
            height: 600px;
            background: rgba(255, 255, 255, 0.15);
            position: absolute;
            right: 0px;
            top: 30px;
            border-radius: 6px;
            transform: skew(25deg, 10deg);
            transform-origin: top left;
        }
    }
}

//Modal
.search-opened {
    overflow: hidden;
}

.search-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .search-modal-content {
        position: relative;
        width: 100%;
        max-width: 78.7rem;
        max-height: 100%;
        margin: 2rem;
        border-radius: 10px;
        background-color: #f6f9fb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 300ms;

        .search-modal-body {
            padding: 2.7rem;
            min-height: 100%;

            .search-control {
                border-radius: 6px;
                border: 1px solid #cfd6e3;
                background: #fff;
                display: flex;
                align-items: center;
                min-height: 4.8rem;
                overflow: hidden;

                &:focus-within {
                    border-color: #1572e8;
                }

                input {
                    flex-grow: 1;
                    border: 0;
                    outline: 0;
                    padding: 0.6rem 1.2rem;
                    min-height: inherit;
                    color: #132644;
                    font-size: 1.5rem;

                    &:focus {
                        border: 0;
                        outline: 0;
                    }
                }

                span {
                    font-size: 1.4rem;
                    background: #fff;
                    color: #132644;
                    min-height: inherit;
                    padding: 0 1.5rem;
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .search-result {
                background-color: #f7fafc;
                padding: 1rem;
                border-radius: 0.6rem;
                margin-top: 0.4rem;
                box-shadow: 0 0 3rem 0 rgba(32, 60, 114, 0.14);

                .search-list {
                    padding: 0;
                    margin: 0;

                    .search-item {
                        list-style: none;
                        padding: 1rem;
                        font-size: 1.4rem;

                        .search-link {
                            display: inline-flex;
                            text-decoration: none;
                            color: #132644;
                        }
                    }
                }
            }

            .search-data {
                margin-top: 2rem;

                .data-head {
                    display: flex;

                    .data-target {
                        font-size: 1.4rem;
                        font-weight: 500;
                        padding-bottom: 0.6rem;
                        margin-left: 2rem;
                        cursor: pointer;
                        color: #132644;

                        i {
                            margin-right: 0.4rem;
                            font-style: 1.3rem;
                        }

                        &.active {
                            color: #1572e8;
                            border-bottom: 2px solid #1572e8;
                        }
                    }
                }

                .data-body {
                    background-color: #f7fafc;
                    border-radius: 0.6rem;
                    padding: 1rem 0;
                    box-shadow: 0 0 3rem 0 rgba(32, 60, 114, 0.14);
                    overflow-y: auto;
                    max-height: 13.5rem;

                    .data-list {
                        padding: 0;
                        margin: 0;

                        .data-item {
                            list-style: none;
                            padding: 1rem 2rem;
                            transition: all 300ms;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .data-link {
                                text-decoration: none;
                                .data-title {
                                    color: #132644;
                                    margin-bottom: 0.6rem;
                                    font-weight: 500;
                                    font-size: 1.4rem;
                                }
                                .data-breadcrumb {
                                    color: #132644;
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }

            .recent-search {
                margin-top: 2rem;
                .recent-title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    color: rgba(19, 38, 68, 0.5);
                }
                .recent-list {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    gap: 1rem;

                    .recent-item {
                        list-style: none;
                        padding: 0.4rem 0.8rem;
                        background: #eaeeee;
                        color: rgba(58, 76, 105, 0.7);
                        display: inline-flex;
                        font-size: 1.3rem;
                        border-radius: 0.2rem;
                        cursor: pointer;

                        &:hover {
                            color: #132644;
                        }
                    }
                }
            }
        }

        .close-search-modal {
            position: absolute;
            top: 10px;
            right: 20px;
            color: #aaa;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;

            &:hover,
            &:focus {
                color: #000;
            }
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
